*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea
*.com
*.class
*.dll
*.exe
*.o
*.so
*.slo
*.lo
*.obj
*.lai
*.la
*.a
*.lib
*.out
*.app
build
.gradle
org.eclipse.jdt.core.prefs
*.o.d
*.json